@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.corIconeBlack {
    color: #000000;
}

.corIconeMarrom {
    color: #000000;
}

.mudarCorLaravel:hover{
    color: #F33A2F;
}

.mudarCorWhite:hover{
    color: white;
}

.mudarCorLinkedin:hover {
    color: #0A78B5;
}

.card__container{
    padding-block: 5rem;
}
